.detailsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #074b8d;
    height: 100%;
    padding-top: 3px;
}

.subheader-details {
    padding: 0px
}

.busmap {
    border: solid #d1441d 5px;
    border-radius: 10px;
    width: 95%;
    margin: 10px;
}

.details-text {
    width: 95%;
    text-align: center;
}

.orange-highlight {
    color: #d1441d;
}

@media only screen and (max-width: 450px) {
    .detailsPage {
        height: 100vh;
    }
}