* {
    font-family: Raleway;
    box-sizing: border-box;
}

h3 {
    margin-top: 5px;
}
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2A9D8F;
}

.home-image {
    padding-top: 15px;
}

.map-example {
    width: 100%;
    margin-bottom: 5px;
}

.welcome-text {
   text-align: center;
   margin: 10px; 
}

.login-form {
    margin-bottom: 5px;
    padding: 5px;
    display: grid;
    border: #264653 solid 1px;
    border-radius: 5px;
}

.signup-form {
    margin-bottom: 5px;
    padding: 5px;
    display: grid;
    border: #264653 solid 1px;
    border-radius: 5px;
}

.login-user, .login-pass, .signup-user, .signup-pass {
    margin: 5px;
}

.login-pass {
    margin: 5px;
}

.username-password {
    padding-bottom: 20px;
    max-width: 1400px;
}

@media only screen and (min-width: 450px) {
    .username-password {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

}
