.about-h2 {
    display: flex;
    justify-content: center;
    background-color: #F4A261;

}

.about img {
    width: 80%;
    border-radius: 50%;
}

.about {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #F4A261;
}

.about-div {
    padding: 10px 10px 40px 10px;
} 

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.name {
    font-size: larger;
    font-weight: 800;
    
}

.about-icon {
    padding: 5px;
}

.bio {
    display: flex;
    text-align: left;
    text-indent: 1.5em;
}

img {
    border: none;
}

@media only screen and (min-width: 450px) {
    
    .about {
        display: flex;
        flex-direction: row;
        text-align: center;
        padding-left: 10px;
        height: 80vh;
    }

    .about-div {
        width: 33%;
    }
}