.about img {
    width: 80%;
    border-radius: 50%;
}

.about {
    display: flex;
    flex-direction: row;
    text-align: center;
}

div {
    padding: 10px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.name {
    font-size: larger;
    font-weight: 800;
    
}

.bio {
    display: flex;
    text-align: left;
    text-indent: 1.5em;
}
