.about img {
    width: 80%;
    border-radius: 50%;
}

.about {
    display: flex;
    flex-direction: row;
}

.about p {
    
}

div {
    padding: 10px;
}

.title {
    display: flex;
    flex-direction: row;
}

.name {
    font-size: larger;
    font-weight: 800;
    
}
